<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Modal -->
<div class="modal fade" th:fragment="editmodal" th:id="'userEditModal'+${user.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:id="'form'+${user.id}"  action="#" th:action="@{/admin/update}" method="put">
                    <div class="form-group">
                        <label for="id" class="d-flex justify-content-center font-weight-bold">ID</label>
                        <input type="text" id="id" name="id" th:value="${user.id}" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="d-flex justify-content-center font-weight-bold">firstName</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter name" th:value="${user.firstname}">
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="d-flex justify-content-center font-weight-bold">lastname</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter last name" th:value="${user.lastname}">
                    </div>
                    <div class="form-group">
                        <label for="age" class="d-flex justify-content-center font-weight-bold">age</label>
                        <input type="number" class="form-control" id="age" name="age" placeholder="Enter age" th:value="${user.age}">
                    </div>
                    <div class="form-group">
                        <label for="email" class="d-flex justify-content-center font-weight-bold">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" th:value="${user.email}">
                    </div>
                    <div class="form-group">
                        <label for="password" class="d-flex justify-content-center font-weight-bold">Password</label>
                        <input type="password" class="form-control" id="password" name="password" th:value="${user.password}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="sel2m" class="d-flex justify-content-center font-weight-bold">Role</label>
                        <select multiple class="form-control" size="2" id="sel2m" name="authorities">
                            <option
                                    th:each="role : ${allRoles}"
                                    th:text="${role.name}"
                                    th:value="${role.id}"
                                    th:selected="${user.roles.contains(role)}">
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" th:form="'form'+${user.id}">Edit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" th:fragment="deletemodal" th:id="'userDeleteModal'+${user.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:id="'form'+${user.id}"  action="#" th:action="@{/admin/update}" method="post">
                    <div class="form-group">
                        <label for="id" class="d-flex justify-content-center font-weight-bold">ID</label>
                        <input type="text" th:value="${user.id}" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="firstname1" class="d-flex justify-content-center font-weight-bold">firstName</label>
                        <input type="text" id="firstname1" class="form-control" placeholder="Enter name" th:value="${user.firstname}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="lastname1" class="d-flex justify-content-center font-weight-bold">lastname</label>
                        <input type="text" class="form-control" id="lastname1" placeholder="Enter last name" th:value="${user.lastname}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="age1" class="d-flex justify-content-center font-weight-bold">age</label>
                        <input type="number" class="form-control" id="age1" placeholder="Enter age" th:value="${user.age}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="email1" class="d-flex justify-content-center font-weight-bold">Email</label>
                        <input type="email" class="form-control" id="email1" placeholder="Enter email" th:value="${user.email}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="password1" class="d-flex justify-content-center font-weight-bold">Password</label>
                        <input type="password" class="form-control" id="password1" th:value="${user.password}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="sel2m">Role</label>
                        <select multiple class="form-control" size="2" id="sel3m" name="authorities" readonly>
                            <option
                                    th:each="role : ${user.roles}"
                                    th:text="${role.name}"
                                    th:value="${role.id}">
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a th:href="@{/admin/{id}/delete(id=${user.id})}" class="btn btn-danger" >Delete</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>